<app-float-icon [icon]="'x'" [pathUrl]="'/'"></app-float-icon>
<form (submit)="onSubmit()">
  <div class="form-group">
    <input
      [(ngModel)]="name"
      name="name"
      type="text"
      placeholder="add name"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      placeholder="add author"
      class="form-control"
      [(ngModel)]="author"
      name="author"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      placeholder="add url image"
      class="form-control"
      [(ngModel)]="imageUrl"
      name="imageUrl"
    />
  </div>
  <div class="form-group">
    <textarea
      type="text"
      placeholder="add description"
      class="form-control"
      [(ngModel)]="description"
      name="description"
    ></textarea>
  </div>
  <!-- Si se usara la función addNewBook, habría que agregarle al botón: -->
  <!-- (click)="addNewBook()" -->
  <button type="submit" class="btn btn-primary">Add new book</button>
</form>
